HT2/HomeTask2-1/ConvertorClient/Service References/ConverClient/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceConvertorDll" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceConvertorDll" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ConvertedUnits">
    <xs:sequence>
      <xs:element minOccurs="0" name="celsius" type="xs:double" />
      <xs:element minOccurs="0" name="fohrenheit" type="xs:double" />
      <xs:element minOccurs="0" name="foot" type="xs:int" />
      <xs:element minOccurs="0" name="inch" type="xs:double" />
      <xs:element minOccurs="0" name="yard" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConvertedUnits" nillable="true" type="tns:ConvertedUnits" />
</xs:schema>